@tailwind base;
@tailwind components;
@tailwind utilities;

.logoBackground {
    background-image: url("../utils/logo1.8.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.cardBackground1 {
    background-image: url("../utils/tlo1.jpg");
    background-size: cover;
    background-position: center
}
.cardBackground2 {
    background-image: url("../utils/tlo2.jpg");
    background-size: cover;
    background-position: center
}
.supply1{
    background-image: url("../utils/gealanb.jpg");  
    background-size: cover;
}
.supply2{
    background-image: url("../utils/image001.jpg");
    background-size: cover;
}
.supply3{
    background-image: url("../utils/ponzio.jpg");
    background-size: cover;
}

.serviceCard1 {
    background-image: url("../public/wallpapper1.jpg");
    background-size: cover;
    background-position: center
}
.serviceCard2 {
    background-image: url("../public/wallpapper2.jpg");
    background-size: cover;
    background-position: center
}
.serviceCard3 {
    background-image: url("../public/wallpapper3.jpg");
    background-size: cover;
    background-position: center
}

