@tailwind base;
@tailwind components;
@tailwind utilities;

.logoBackground {
    background-image: url("../utils/logo1.8.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
.cardBackground1 {
    background-image: url("../utils/tlo1.jpg");
    background-size: cover;
    background-position: center
}
.cardBackground2 {
    background-image: url("../utils/tlo2.jpg");
    background-size: cover;
    background-position: center
}
.supply1{
    background-image: url("../utils/gealanb.jpg");  
    background-size: cover;
}
.supply2{
    background-image: url("../utils/image001.jpg");
    background-size: cover;
}
.supply3{
    background-image: url("../utils/ponzio.jpg");
    background-size: cover;
}
.produktOkno1{
    background-image: url("../utils/PE78NHI_okno.jpg");
    background-size: cover;
}
.produktSystemprzesuwny1{
    background-image: url("../utils/SL1600TTHI_szyba3k.jpg");
    background-size: cover;
}

