@tailwind base;
@tailwind components;
@tailwind utilities;

.logoBackground {
    background-image: url("../utils/logomd1.png");
    min-width: 130px;
    min-height: 50px;
    background-size: cover;
}
.cardBackground1 {
    background-image: url("../utils/13cut.jpeg");
    min-width: 130px;
    min-height: 50px;
    background-size: cover;
    background-position: center
}
.cardBackground2 {
    background-image: url("../utils/11cut.jpeg");
    background-size: cover;
    background-position: center
}
.supply1{
    background-image: url("../utils/gealanb.jpg");
    background-size: cover;
}
.supply2{
    background-image: url("../utils/image001.jpg");
    background-size: cover;
}
.supply3{
    background-image: url("../utils/ponzio.jpg");
    background-size: cover;
}